/* Self-hosted so no visitor data goes to Google (Inter and Inter Tight: SIL Open Font License 1.1) */
@font-face{font-family:'Inter Tight';font-style:normal;font-weight:100 900;font-display:swap;src:url(inter-tight-latin.woff2?v=1) format('woff2')}
@font-face{font-family:'Inter';font-style:normal;font-weight:100 900;font-display:swap;src:url(inter-latin.woff2?v=1) format('woff2')}
